<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Valley Enterprises - Renewable Energy Solutions</title>
    <link th:href="${logoUrl}" rel="icon" type="image/png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <style>
        * {
            font-family: 'Poppins', sans-serif;
            scroll-behavior: smooth;
        }
        .sidebar {
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
        }
        .sidebar.active {
            transform: translateX(0);
        }
        .scroll-container {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
        }
        .scroll-item {
            scroll-snap-align: start;
        }
        .success-message,
        .error-message {
            max-width: 90%; /* Slightly wider than the form */
            margin: 0 auto; /* Center aligns the messages */
            border-left-width: 6px; /* Add slight emphasis to the border */
            padding-left: 1rem; /* Adjust padding for better spacing */
            font-size: 0.95rem; /* Ensure the text size is readable */
        }

        /* General Sidebar Styling */
.sidebar {
    background-color: #ffffff; /* Clean white background */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 16rem; /* Fixed width for the sidebar */
    transition: transform 0.3s ease-in-out; /* Smooth open/close transition */
}

/* Navigation Link Styles */
.sidebar nav a {
    display: flex;
    align-items: center;
    color: #4A5568; /* Cool gray text */
    text-decoration: none;
    font-size: 1rem; /* Comfortable font size */
    font-weight: 500; /* Medium weight for emphasis */
}

.sidebar nav a:hover {
    background-color: #FEF3C7; /* Light yellow hover background */
    color: #D97706; /* Golden text on hover */
}

.sidebar nav a i {
    transition: color 0.3s ease-in-out; /* Smooth icon color transition */
}

/* Close Button */
#closeSidebar {
    font-size: 1.25rem; /* Larger close icon */
    background: none;
    border: none;
    cursor: pointer;
}

/* Open/Close Animations */
#sidebar.open {
    transform: translateX(0); /* Slide in */
}

#sidebar.closed {
    transform: translateX(-100%); /* Slide out */
}



        /* Hide scrollbar for Chrome, Safari and Opera */
        .scroll-container::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        .scroll-container {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        /* Keyframes for fade-in animation */
        @keyframes fade-in {
          from {
            opacity: 0;
            transform: translateY(30px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }

        /* Animation Classes */
        .animate-fade-in {
          animation: fade-in 0.8s ease forwards;
        }

        /* Add delay to animations for staggered effect */
        .delay-100 {
          animation-delay: 0.1s;
        }
        .delay-300 {
          animation-delay: 0.3s;
        }
<!--Services -->
        /* Card Hover Effect */
        .card:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
          background-color: #f5c85c;
        }
        /* Responsive Container */
          .container {
            max-width: 1200px;
          }

          /* Card Hover Effects */
          .hover\:scale-105:hover {
            transform: scale(1.05);
            background-color: #f5c85c;
          }

           /*Smooth Transition for Hover */
          .transition {
            transition: all 0.3s ease-in-out;
          }
          .bg-fixed {
        background-attachment: fixed;
    }

     /*Mobile optimization */
    @media (max-width: 1024px) {
        .bg-fixed {
            background-attachment: scroll;
        }
    }

<!--        footer-->
        @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.animate-spin-slow {
    animation: spin 20s linear infinite;
}
.bg-gradient-to-b {
    background: linear-gradient(to bottom, #FFD700, #FF8C00, #1A202C);
}
.hover\:text-yellow-300:hover {
    color: #FFD700;

}
<!--        footer-->
        .footer-gif {
    position: absolute;
    inset: 0;
    object-fit: cover;
    opacity: 0.5; /* Adjust for readability */
    z-index: -1; /* Push behind content */
}

.footer-content {
    position: relative;
    z-index: 1;
    color: #FFD700;
}

.footer-icon:hover {
    color: #ffffff; /* Subtle white hover effect for icons */
}
.footer-strip {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Adjust for preferred shade */
    color: #ccc;
    font-size: 0.875rem; /* Equivalent to text-sm */
    font-weight: 500; /* Medium weight */
    padding: 0.5rem 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Subtle top shadow */
    z-index: 9999; /* Ensures it stays above all elements */
}

        <!-- Add Animations -->
    <style>
        .animate-fadeIn {
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        /* General Styling for the Partners Section */
#partners {
  background-color: #f7fafc;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#partners h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #2d3748;
}

/* Grid Layout for Partner Logos */
.partner-logo img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: contain; /* Ensures logos scale well */
  max-height: 100px; /* Control max height */
  margin: 0 auto; /* Centering the logos */
}

/* Hover Effect: Scale and Shadow */
.partner-logo:hover img {
  transform: scale(1.05);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.group:hover img {
  transform: scale(1.1); /* Slight increase in size */
  filter: brightness(1.1); /* Slight brightening effect */
}

/* Responsive Grid Layout */
@media (min-width: 640px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

<!--feedback card dot indication-->
   .dot {
        background-color: #D1D5DB; /* Tailwind's gray-400 */
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 4px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .dot.active {
        background-color: #F59E0B; /* Tailwind's yellow-500 */
        transform: scale(1.3);
    }
    </style>
</head>
<body class="bg-gray-50">
<!-- Sidebar -->
<div id="sidebar"
     class="sidebar fixed top-0 left-0 h-full w-64 bg-white shadow-lg z-50 transform -translate-x-full transition-transform duration-300">
    <div class="p-6">
        <!-- Header Section -->
        <div class="flex items-center justify-between mb-8">
            <div class="flex items-center">
                <img th:src="${logoUrl}" alt="Solar Valley Enterprises" class="h-12 mr-2">
                <span class="text-xl font-bold text-gray-700">ꜱᴏʟᴀʀ ᴠᴀʟʟᴇʏ ᴇɴᴛᴇʀᴘʀɪꜱᴇꜱ</span>
            </div>
            <button id="closeSidebar" class="text-gray-500 hover:text-gray-700">
                <i class="bi bi-x-lg text-2xl"></i>
            </button>
        </div>
        <!-- Navigation Links -->
        <nav class="space-y-4">
            <!-- Home -->
            <a href="/"
               class="flex items-center py-2 px-4 text-gray-700 hover:bg-yellow-50 hover:text-yellow-500 rounded-lg transition group">
                <i class="bi bi-house-fill text-xl mr-3 text-yellow-500 group-hover:text-yellow-600"></i>
                <span class="font-medium">Home</span>
            </a>
            <a href="#about"
               class="flex items-center py-2 px-4 text-gray-700 hover:bg-yellow-50 hover:text-yellow-500 rounded-lg transition group">
                <i class="bi bi-info-circle-fill text-xl mr-3 text-yellow-500 group-hover:text-yellow-600"></i>
                <span class="font-medium">About Us</span>
            </a>
            <a href="#feedback"
               class="flex items-center py-2 px-4 text-gray-700 hover:bg-yellow-50 hover:text-yellow-500 rounded-lg transition group">
                <i class="bi bi-chat-dots-fill text-xl mr-3 text-yellow-500 group-hover:text-yellow-600"></i>
                <span class="font-medium">Customer Feedback</span>
            </a>
            <a href="#contact"
               class="flex items-center py-2 px-4 text-gray-700 hover:bg-yellow-50 hover:text-yellow-500 rounded-lg transition group">
                <i class="bi bi-envelope-fill text-xl mr-3 text-yellow-500 group-hover:text-yellow-600"></i>
                <span class="font-medium">Contact Us</span>
            </a>
            <a href="#faq"
               class="flex items-center py-2 px-4 text-gray-700 hover:bg-yellow-50 hover:text-yellow-500 rounded-lg transition group">
                <i class="bi bi-question-circle-fill text-xl mr-3 text-yellow-500 group-hover:text-yellow-600"></i>
                <span class="font-medium">FAQs</span>
            </a>
        </nav>
    </div>
    <!-- Contact Section -->
    <div class="mt-10">
        <h3 class="text-lg font-bold text-gray-700 mb-4">Get in Touch</h3>
        <div class="space-y-3">
            <!-- Phone -->
            <a href="tel:+919111831966" class="flex items-center py-2 px-4 bg-white text-gray-700 rounded-lg shadow-sm hover:shadow-md transition group hover:bg-yellow-50">
                <i class="bi bi-telephone-fill text-xl mr-3 text-yellow-500 group-hover:text-yellow-600"></i>
                <span class="font-medium">+91 91118 31966</span>
            </a>
            <!-- Address -->
            <div class="flex items-start py-2 px-4 bg-white text-gray-700 rounded-lg shadow-sm hover:shadow-md transition group hover:bg-yellow-50">
                <i class="bi bi-geo-alt-fill text-xl mr-3 text-yellow-500 group-hover:text-yellow-600"></i>
                <div>
                    <a href="https://www.google.com/maps/place/SOLAR+VALLEY+ENTERPRISES/@22.7959037,75.9175317,15z/data=!4m2!3m1!1s0x0:0x645a7a4f71c7ee4a?sa=X&ved=1t:2428&ictx=111&cshid=1733656743254160"
                       class="hover:text-yellow-400 transition">UGF 08, Galleria, Ansal Town, Talawali Chanda, Indore, Madhya Pradesh, PIN: 453771</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Main Content -->
<div class="min-h-screen">
    <!-- Header -->
    <header id="mainHeader" class="fixed top-0 w-full z-40 transition-all duration-300"
            style="background-color: transparent;">
        <div class="container mx-auto px-4 py-3 flex justify-between items-center">
            <button id="openSidebar" class="hover:text-green-400 text-white">
                <i class="bi bi-list text-2xl"></i>
            </button>
            <div class="flex items-center justify-center flex-grow">
                <!-- Logo -->
                <img th:src="${logoUrl}" alt="Solar Valley Enterprises" class="h-10 mr-2">
                <!-- Text -->
                <span class="text-lg font-bold text-black">𝐒𝐨𝐥𝐚𝐫 𝐕𝐚𝐥𝐥𝐞𝐲 𝐄𝐧𝐭𝐞𝐫𝐩𝐫𝐢𝐬𝐞𝐬</span>
            </div>

<!--            <div class="flex gap-4">-->
<!--                <a href="#contact" class="bg-green-500 px-4 py-2 rounded-lg text-white hover:bg-green-600 shadow-md">-->
<!--                    Contact Us-->
<!--                </a>-->
<!--            </div>-->
        </div>
        <!-- Contact Icons Section -->
        <div class="fixed bottom-4 right-4 flex flex-col gap-4">
            <!-- WhatsApp Icon -->
            <a href="https://wa.me/+919111831966" target="_blank"
               class="contact-icon bg-green-500 hover:bg-green-600 text-white p-3 rounded-full shadow-lg transition transform hover:scale-110">
                <i class="bi bi-whatsapp text-2xl"></i>
            </a>
            <!-- Call Icon -->
            <a href="tel:+919111831966"
               class="contact-icon bg-blue-500 hover:bg-blue-600 text-white p-3 rounded-full shadow-lg transition transform hover:scale-110">
                <i class="bi bi-telephone-fill text-2xl"></i>
            </a>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="relative bg-center bg-cover bg-no-repeat"
             th:style="'background-image: url(' + ${hero} + ');'">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div> <!-- Overlay for text contrast -->
        <div class="container mx-auto px-4 py-24 relative z-10">
            <div class="flex flex-col lg:flex-row items-center justify-between">
                <!-- Text and Buttons Section -->
                <div class="lg:w-1/2 mb-8 lg:mb-0 text-center lg:text-left">
                    <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold text-white mb-6 leading-tight">
                        Powering Tomorrow with Solar Solutions Today
                    </h1>
                    <p class="text-gray-200 text-lg mb-8">
                        Complete solutions for solar installation, maintenance, inverters & batteries, and CCTV systems.
                    </p>
                    <div class="flex flex-col sm:flex-row gap-4 justify-center lg:justify-start">
                        <a href="#services"
                           class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 shadow-md">
                            Our Services
                        </a>
                        <a href="#contact"
                           class="border border-green-500 text-green-500 px-6 py-3 rounded-lg hover:bg-green-50 shadow-md">
                            Get Quote
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="py-16 bg-white">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold text-yellow-600 text-center mb-12">Our Services</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <!-- Service Card -->
                <div
                        class="card p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition relative overflow-hidden"
                        onmouseover="handleMouseOver(this)"
                        onmouseout="handleMouseOut(this)"
                        onclick="toggleSlider(this)"
                        style="height: 200px;"
                >
                    <i class="bi bi-sun text-4xl text-yellow-500 mb-2"></i>
                    <h3 class="text-xl font-semibold mb-4 z-10 relative">Solar Installation</h3>
                    <div
                            class="description absolute bottom-0 left-0 w-full bg-gradient-to-tr from-yellow-50 via-white to-yellow-100 p-4 transform translate-y-full transition-transform duration-300"
                            style="height: 50%;"
                    >
                        <p class="text-gray-600">
                            Professional installation of solar panels for residential and commercial properties.
                        </p>
                    </div>
                </div>
                <!-- Service Card -->
                <div
                        class="card p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition relative overflow-hidden"
                        onmouseover="handleMouseOver(this)"
                        onmouseout="handleMouseOut(this)"
                        onclick="toggleSlider(this)"
                        style="height: 200px;"
                >
                    <i class="bi bi-tools text-4xl text-yellow-500 mb-2"></i>
                    <h3 class="text-xl font-semibold mb-4 z-10 relative">Solar Maintenance</h3>
                    <div
                            class="description absolute bottom-0 left-0 w-full bg-gradient-to-tr from-yellow-50 via-white to-yellow-100 p-4 transform translate-y-full transition-transform duration-300"
                            style="height: 50%;"
                    >
                        <p class="text-gray-600">
                            Regular maintenance and repair services for optimal system performance.
                        </p>
                    </div>
                </div>
                <!-- Service Card -->
                <div
                        class="card p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition relative overflow-hidden"
                        onmouseover="handleMouseOver(this)"
                        onmouseout="handleMouseOut(this)"
                        onclick="toggleSlider(this)"
                        style="height: 200px;"
                >
                    <i class="bi bi-laptop text-4xl text-yellow-500 mb-2"></i>
                    <h3 class="text-xl font-semibold mb-4 z-10 relative">Inverters & Batteries</h3>
                    <div
                            class="description absolute bottom-0 left-0 w-full bg-gradient-to-tr from-yellow-50 via-white to-yellow-100 p-4 transform translate-y-full transition-transform duration-300"
                            style="height: 50%;"
                    >
                        <p class="text-gray-600">
                            Quality Inverters and accessories for all your house needs.
                        </p>
                    </div>
                </div>
                <!-- Service Card -->
                <div
                        class="card p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition relative overflow-hidden"
                        onmouseover="handleMouseOver(this)"
                        onmouseout="handleMouseOut(this)"
                        onclick="toggleSlider(this)"
                        style="height: 200px;"
                >
                    <i class="bi bi-camera-video text-4xl text-yellow-500 mb-2"></i>
                    <h3 class="text-xl font-semibold mb-4 z-10 relative">CCTV Installation</h3>
                    <div
                            class="description absolute bottom-0 left-0 w-full bg-gradient-to-tr from-yellow-50 via-white to-yellow-100 p-4 transform translate-y-full transition-transform duration-300"
                            style="height: 50%;"
                    >
                        <p class="text-gray-600">
                            Security solutions with high-quality CCTV system installation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- About Section -->
    <section id="about" class="py-16 bg-white">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold text-yellow-600 text-center mb-12">About Us</h2>
            <div class="flex flex-col lg:flex-row items-center gap-8">
                <!-- Image Carousel -->
                <div class="lg:w-1/2 relative">
                    <div class="carousel rounded-lg shadow-lg overflow-hidden relative">
                        <!-- Carousel Images -->
                        <div class="carousel-images">
                            <img src="https://images.unsplash.com/photo-1497440001374-f26997328c1b?auto=format&fit=crop&w=800"
                                 alt="Solar Panels Installation" class="w-full h-auto hidden">
                            <img th:src="${aboutUs1}"
                                 alt="Solar Panel Maintenance" class="w-full h-auto hidden">
                            <img th:src="${aboutUs2}"
                                 alt="Team Discussion About Solar Solutions" class="w-full h-auto hidden">
                        </div>
                        <!-- Left and Right Navigation -->
                        <button class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-700 text-white rounded-full p-2"
                                onclick="prevImage()">&#8592;
                        </button>
                        <button class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-700 text-white rounded-full p-2"
                                onclick="nextImage()">&#8594;
                        </button>
                    </div>
                </div>

                <!-- About Content -->
                <div class="lg:w-1/2">
                    <p class="text-gray-600 mb-4">
                        At <b>Solar Valley Enterprises</b>, we believe in empowering communities with sustainable energy solutions.
                        Our mission is to make renewable energy accessible, reliable, and tailored to meet the needs of
                        homes and businesses alike.
                    </p>
                    <p class="text-gray-600 mb-4">
                        Established with a passion for clean energy, Solar Valley Enterprises has grown into a trusted partner for
                        solar installations, maintenance, and consultation. We pride ourselves on delivering
                        high-quality service, ensuring every project not only meets but exceeds expectations.
                    </p>
                    <p class="text-gray-600">
                        From providing innovative solar solutions to building a greener tomorrow, our team of experts is
                        here to guide you every step of the way. Join us in embracing sustainable energy for a brighter
                        future.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Founders Section -->
    <!--    <section id="founders" class="py-16 bg-white">-->
    <!--        <div class="container mx-auto px-6">-->
    <!--            <h2 class="text-3xl font-bold text-center mb-12">Our Founders</h2>-->
    <!--            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">-->
    <!--                &lt;!&ndash; Founder Card &ndash;&gt;-->
    <!--                <div-->
    <!--                        class="bg-white shadow-md rounded-lg overflow-hidden transition hover:shadow-lg hover:scale-105"-->
    <!--                >-->
    <!--                    <div class="flex flex-col md:flex-row">-->
    <!--                        &lt;!&ndash; Image Section &ndash;&gt;-->
    <!--                        <div class="md:w-1/3">-->
    <!--                            <img-->
    <!--                                    th:src="${founder1}"-->
    <!--                                    alt="Jitendra Modi"-->
    <!--                                    class="w-full h-full object-cover"-->
    <!--                            />-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Content Section &ndash;&gt;-->
    <!--                        <div class="p-6 flex-1">-->
    <!--                            <h3 class="text-2xl font-semibold mb-2">Jitendra Modi</h3>-->
    <!--                            <p class="text-sm text-yellow-500 mb-4">CEO & Technical Director</p>-->
    <!--                            <p class="text-gray-600 mb-4">-->
    <!--                                With over 15 years of experience in the tech and solar industry, He has successfully-->
    <!--                                handled 10+ solar projects nationwide, helping countless businesses and homes transition-->
    <!--                                to renewable energy.-->
    <!--                            </p>-->
    <!--                            <p class="text-gray-600 text-sm italic">-->
    <!--                                "Empowering the world with sustainable energy solutions."-->
    <!--                            </p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->

    <!--                &lt;!&ndash; Founder Card &ndash;&gt;-->
    <!--                <div-->
    <!--                        class="bg-white shadow-md rounded-lg overflow-hidden transition hover:shadow-lg hover:scale-105"-->
    <!--                >-->
    <!--                    <div class="flex flex-col md:flex-row">-->
    <!--                        &lt;!&ndash; Image Section &ndash;&gt;-->
    <!--                        <div class="md:w-1/3">-->
    <!--                            <img-->
    <!--                                    th:src="${logoUrl}"-->
    <!--                                    alt="Hemant Mimrot"-->
    <!--                                    class="w-full h-full object-cover"-->
    <!--                            />-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Content Section &ndash;&gt;-->
    <!--                        <div class="p-6 flex-1">-->
    <!--                            <h3 class="text-2xl font-semibold mb-2">Hemant Mimrot</h3>-->
    <!--                            <p class="text-sm text-yellow-500 mb-4">COO & Innovation Lead</p>-->
    <!--                            <p class="text-gray-600 mb-4">-->
    <!--                                Sarah is an innovator with a passion for clean energy solutions. He has spearheaded-->
    <!--                                multiple groundbreaking initiatives, leading the company to receive several sustainability-->
    <!--                                awards.-->
    <!--                            </p>-->
    <!--                            <p class="text-gray-600 text-sm italic">-->
    <!--                                "Innovation is the key to a brighter, greener future."-->
    <!--                            </p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->


    <!-- Certifications Section -->
    <!--    <section id="certifications" class="py-16 bg-white">-->
    <!--        <div class="container mx-auto px-4">-->
    <!--            <h2 class="text-3xl font-bold text-center mb-12">Our Certifications</h2>-->
    <!--            <div class="scroll-container flex overflow-x-auto gap-8 pb-4">-->
    <!--                <div class="scroll-item flex-none w-64 p-6 bg-white rounded-lg shadow-md">-->
    <!--                    <i class="bi bi-award text-4xl text-yellow-500 mb-4 block text-center"></i>-->
    <!--                    <h3 class="text-xl font-semibold text-center mb-2">ISO 9001:2015</h3>-->
    <!--                    <p class="text-gray-600 text-center">Quality Management System</p>-->
    <!--                </div>-->
    <!--                <div class="scroll-item flex-none w-64 p-6 bg-white rounded-lg shadow-md">-->
    <!--                    <i class="bi bi-award text-4xl text-yellow-500 mb-4 block text-center"></i>-->
    <!--                    <h3 class="text-xl font-semibold text-center mb-2">Solar PV Installation</h3>-->
    <!--                    <p class="text-gray-600 text-center">Certified Installer</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->

    <!-- Customer Feedback Section -->
    <section id="feedback" class="py-16 bg-gray-50">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold text-yellow-600 text-center mb-12 animate-fade-in-up">Customer Feedback</h2>
            <div class="scroll-container flex overflow-x-auto gap-8 pb-4 relative">
                <!-- Feedback 1 -->
                <div class="scroll-item flex-none w-80 p-6 bg-gradient-to-b from-white to-gray-100 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:scale-105">
                    <div class="flex items-center mb-4">
                        <div>
                            <h4 class="font-semibold text-gray-700">Nikhil Gothwal</h4>
                            <div class="text-yellow-500">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text-gray-600">"A trusted name in Solar Industry, Well Known for their high-quality solar
                        panels that are efficient and durable. This Solar panels can be a worthwhile investment for a
                        long-term renewable energy solution."</p>
                </div>
                <!-- Feedback 2 -->
                <div class="scroll-item flex-none w-80 p-6 bg-gradient-to-b from-white to-gray-100 rounded-lg shadow-lg hover:shadow-xl transition-transform transform hover:scale-105">
                    <div class="flex items-center mb-4">
                        <div>
                            <h4 class="font-semibold text-gray-700">Mahesh Bharti</h4>
                            <div class="text-yellow-500">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text-gray-600">"Excellent quality product and service. Performance of solar panel is good
                        and running satisfactorily without any issues."</p>
                </div>
                <!-- Add Your Review -->
                <div class="scroll-item flex-none w-80 p-6 bg-yellow-50 rounded-lg shadow-lg hover: bg-gradient-to-tr from-yellow-50 via-white to-yellow-100 hover:shadow-xl transition-transform transform hover:scale-105">
                    <div class="flex flex-col items-center">
                        <i class="bi bi-pencil-square text-4xl text-yellow-500 mb-4"></i>
                        <h4 class="font-semibold text-lg text-center mb-2 text-gray-700">Add Your Review</h4>
                        <p class="text-gray-600 text-center mb-4">Share your experience with us and help others make
                            informed decisions.</p>
                        <a href="https://www.google.com/search?q=SOLAR+VALLEY+ENTERPRISES&ludocid=7231226633326685770&sa=X&ved=2ahUKEwjN0cDcp4yKAxWL1TgGHZDYE5YQ_coHegQIKBAB&sxsrf=ADLYWIJ3yPZa1bL4cFDy2IWZoD29tfNWqw:1733253305221#lkt=LocalPoiReviews&lpg=cid:CgIgAQ%3D%3D&lrd=0x39631df57fb2e9b3:0x645a7a4f71c7ee4a,3,,,,"
                           class="inline-block bg-yellow-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-yellow-600 hover:ring-4 hover:ring-yellow-300 transition"
                           target="_blank"
                           rel="noopener noreferrer">
                            Write a Review
                        </a>
                    </div>
                </div>
            </div>
            <!-- Swipe Indicator -->
            <div class="flex justify-center mt-6">
                <span class="dot w-3 h-3 bg-gray-400 rounded-full mx-1 transition-all duration-300"></span>
                <span class="dot w-3 h-3 bg-gray-400 rounded-full mx-1 transition-all duration-300"></span>
                <span class="dot w-3 h-3 bg-gray-400 rounded-full mx-1 transition-all duration-300"></span>
            </div>
        </div>
    </section>


    <!-- Associated Partners Section -->
    <section id="partners" class="py-16 bg-gray-100">
        <div class="container mx-auto px-4">
            <!-- Section Title -->
            <h2 class="text-3xl font-bold text-yellow-600 text-center mb-12">Our Associated Partners</h2>

            <!-- Partners Grid -->
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-12">
                <!-- Partner Logo 1 -->
                <div class="partner-logo group relative">
                    <img th:src="${p1}" alt="Partner 1"
                         class="w-full h-auto transition-transform duration-300 group-hover:scale-110 group-hover:shadow-lg">
                </div>

                <!-- Partner Logo 2 -->
                <div class="partner-logo group relative">
                    <img th:src="${p2}" alt="Partner 2"
                         class="w-full h-auto transition-transform duration-300 group-hover:scale-110 group-hover:shadow-lg">
                </div>

                <!-- Partner Logo 3 -->
                <div class="partner-logo group relative">
                    <img th:src="${p3}" alt="Partner 3"
                         class="w-full h-auto transition-transform duration-300 group-hover:scale-110 group-hover:shadow-lg">
                </div>

                <!-- Partner Logo 4 -->
                <div class="partner-logo group relative">
                    <img th:src="${p4}" alt="Partner 4"
                         class="w-full h-auto transition-transform duration-300 group-hover:scale-110 group-hover:shadow-lg">
                </div>

                <!-- Partner Logo 5 -->
                <div class="partner-logo group relative">
                    <img th:src="${p5}" alt="Partner 5"
                         class="w-full h-auto transition-transform duration-300 group-hover:scale-110 group-hover:shadow-lg">
                </div>

                <!-- Partner Logo 6 -->
                <div class="partner-logo group relative">
                    <img th:src="${p6}" alt="Partner 6"
                         class="w-full h-auto transition-transform duration-300 group-hover:scale-110 group-hover:shadow-lg">
                </div>
                <!-- Partner Logo 7 -->
                <div class="partner-logo group relative">
                    <img th:src="${p7}" alt="Partner 7"
                         class="w-full h-auto transition-transform duration-300 group-hover:scale-110 group-hover:shadow-lg">
                </div>

                <!-- Partner Logo 7 -->
                <div class="partner-logo group relative">
                    <img th:src="${p8}" alt="Partner 8"
                         class="w-full h-auto transition-transform duration-300 group-hover:scale-110 group-hover:shadow-lg">
                </div>
            </div>
        </div>
    </section>


    <!-- Contact and FAQ Section -->
    <section id="contact-faq" class="py-16 bg-gray-50">
        <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8">
            <!-- Contact Section -->
            <div id="contact"
                 class="bg-gradient-to-tr from-yellow-50 via-white to-yellow-100 p-8 rounded-lg shadow-lg animate-fadeIn">
                <h2 class="text-4xl font-extrabold text-yellow-600 mb-6 text-center">Get in Touch</h2>
                <div id="messageBox" class="max-w-2xl mx-auto mb-6">
                    <!-- Success Message -->
                    <div th:if="${successMessage != null}"
                         class="bg-green-100 border border-green-500 text-green-700 px-4 py-3 rounded mb-4"
                         id="successMessage">
                        <p th:text="${successMessage}"></p>
                    </div>

                    <!-- Error Message -->
                    <div th:if="${errorMessage != null}"
                         class="bg-red-100 border border-red-500 text-red-700 px-4 py-3 rounded mb-4" id="errorMessage">
                        <p th:text="${errorMessage}"></p>
                    </div>
                </div>
                <p class="text-gray-700 mb-8 text-center">We'd love to hear from you! Fill out the form and we'll get
                    back to you promptly.</p>
                <form class="space-y-6" action="/contact-us" method="POST">
                    <div>
                        <label class="block text-gray-600 mb-2 font-medium">Name</label>
                        <input type="text" name="fullName"
                               class="w-full px-4 py-2 rounded-lg border focus:outline-none focus:ring-2 focus:ring-yellow-400 transition"
                               required>
                    </div>
                    <div>
                        <label class="block text-gray-600 mb-2 font-medium">Email</label>
                        <input type="email" name="email"
                               class="w-full px-4 py-2 rounded-lg border focus:outline-none focus:ring-2 focus:ring-yellow-400 transition"
                               required>
                    </div>
                    <div>
                        <label class="block text-gray-600 mb-2 font-medium">Phone Number</label>
                        <input type="tel" name="phoneNumber"
                               class="w-full px-4 py-2 rounded-lg border focus:outline-none focus:ring-2 focus:ring-yellow-400 transition"
                               required>
                    </div>
                    <div>
                        <label class="block text-gray-600 mb-2 font-medium">Message</label>
                        <textarea name="message"
                                  class="w-full px-4 py-2 rounded-lg border focus:outline-none focus:ring-2 focus:ring-yellow-400 transition"
                                  rows="4"></textarea>
                    </div>
                    <button type="submit"
                            class="w-full bg-yellow-500 text-white font-semibold px-6 py-3 rounded-lg shadow-md hover:bg-yellow-600 transition duration-300">
                        Send
                        Message
                    </button>
                </form>
            </div>

            <!-- FAQ Section -->
            <div id="faq"
                 class="bg-gradient-to-tr from-yellow-50 via-white to-yellow-100 p-8 rounded-lg shadow-lg animate-fadeIn">
                <h2 class="text-4xl font-extrabold text-yellow-600 mb-6 text-center">Frequently Asked Questions</h2>
                <div class="max-w-3xl mx-auto space-y-4">
                    <div class="border rounded-lg p-4">
                        <button class="faq-toggle w-full flex justify-between items-center">
                            <span class="font-semibold">How long does solar installation take?</span>
                            <i class="bi bi-plus"></i>
                        </button>
                        <div class="faq-content hidden mt-4 text-gray-600">
                            Typical residential installations take 1-3 days, depending on the system size and
                            complexity.
                        </div>
                    </div>
                    <div class="border rounded-lg p-4">
                        <button class="faq-toggle w-full flex justify-between items-center">
                            <span class="font-semibold">What maintenance is required?</span>
                            <i class="bi bi-plus"></i>
                        </button>
                        <div class="faq-content hidden mt-4 text-gray-600">
                            Regular cleaning and annual inspections are recommended to maintain optimal performance.
                        </div>
                    </div>
                    <div class="border rounded-lg p-4">
                        <button class="faq-toggle w-full flex justify-between items-center">
                            <span class="font-semibold">How much does solar installation cost?</span>
                            <i class="bi bi-plus"></i>
                        </button>
                        <div class="faq-content hidden mt-4 text-gray-600">
                            The cost varies based on the system size, location, and installation complexity. Contact us
                            for
                            a free estimate.
                        </div>
                    </div>
                    <div class="border rounded-lg p-4">
                        <button class="faq-toggle w-full flex justify-between items-center">
                            <span class="font-semibold">What warranty is included with solar panels?</span>
                            <i class="bi bi-plus"></i>
                        </button>
                        <div class="faq-content hidden mt-4 text-gray-600">
                            Most solar panels come with a 25-year performance warranty, ensuring their efficiency for
                            years
                            to come.
                        </div>
                    </div>
                    <div class="border rounded-lg p-4">
                        <button class="faq-toggle w-full flex justify-between items-center">
                            <span class="font-semibold">Are solar panels effective in cloudy or rainy weather?</span>
                            <i class="bi bi-plus"></i>
                        </button>
                        <div class="faq-content hidden mt-4 text-gray-600">
                            Yes, solar panels still generate electricity in cloudy or rainy weather, though their
                            efficiency may be slightly reduced. Modern solar panels are designed to work efficiently in
                            diffused sunlight, so they continue to produce energy even on overcast days.
                        </div>
                    </div>
                </div>
                <div class="mt-8 flex justify-end">
                    <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ2owdTFpZ3N2bmZydHZjNHZlOXVoNDB2a2NweGc3MjFsNGFoYnlwayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/aqR7oWAhRt0CosPMM8/giphy.gif"
                         alt="Thinking"
                         class="w-40 h-40 rounded-lg shadow-lg object-cover">
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <!--    <section id="features" class="bg-white py-20">-->
    <!--        <div class="container mx-auto px-6">-->
    <!--            <h2 class="text-4xl font-bold text-center mb-12">Why Choose Solar Valley Enterprises?</h2>-->
    <!--            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">-->
    <!--                &lt;!&ndash; Feature 1 &ndash;&gt;-->
    <!--                <div class="text-center p-6 bg-gray-100 rounded-lg shadow">-->
    <!--                    <div class="mb-4">-->
    <!--                        <i class="bi bi-sun text-4xl text-yellow-500"></i>-->
    <!--                    </div>-->
    <!--                    <h3 class="text-xl font-semibold mb-2">Custom Solar Installations</h3>-->
    <!--                    <p class="text-gray-600">Tailored solar panel setups designed to meet your unique energy needs and maximize savings.</p>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; Feature 2 &ndash;&gt;-->
    <!--                <div class="text-center p-6 bg-gray-100 rounded-lg shadow">-->
    <!--                    <div class="mb-4">-->
    <!--                        <i class="bi bi-tools text-4xl text-yellow-500"></i>-->
    <!--                    </div>-->
    <!--                    <h3 class="text-xl font-semibold mb-2">Comprehensive Maintenance</h3>-->
    <!--                    <p class="text-gray-600">Reliable maintenance services to ensure your solar systems perform at peak efficiency.</p>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; Feature 3 &ndash;&gt;-->
    <!--                <div class="text-center p-6 bg-gray-100 rounded-lg shadow">-->
    <!--                    <div class="mb-4">-->
    <!--                        <i class="bi bi-battery-charging text-4xl text-yellow-500"></i>-->
    <!--                    </div>-->
    <!--                    <h3 class="text-xl font-semibold mb-2">Energy Storage Solutions</h3>-->
    <!--                    <p class="text-gray-600">Store excess energy with our advanced battery systems for uninterrupted power supply.</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->

    <!-- Call to Action -->
    <!--    <section class="py-12 " style="background-color: #ffdb4d;">-->
    <!--        <div class="container mx-auto px-6 text-center">-->
    <!--            <h2 class="text-3xl font-bold text-white mb-4">Ready to Take the Next Step?</h2>-->
    <!--            <p class="text-white text-lg mb-6">Contact us today to learn more about our tailored solar solutions.</p>-->
    <!--            <a href="#contact" class="bg-white text-yellow-500 px-6 py-3 rounded-lg text-lg hover:bg-yellow-50">Get in-->
    <!--                Touch</a>-->
    <!--        </div>-->
    <!--    </section>-->


    <footer class="relative text-white py-16 overflow-hidden">
        <!-- Background Image with Overlay -->
        <div class="absolute inset-0">
            <!--            <img th:src="${footer}"-->
            <img src="https://storage.googleapis.com/a1aa/image/xAidF3elSORMfkWLIfDZ4HE2Uo2STkvkPAQOIIBAEI0RrW1nA.jpg"
                 alt="Solar Panels Background"
                 class="w-full h-full object-cover">
        </div>
        <div class="absolute inset-0 bg-black opacity-60"></div>

        <!-- Footer Content -->
        <div class="relative container mx-auto px-6 lg:px-16">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-12 animate-fadeIn">
                <!-- About Us Section -->
                <div class="group">
                    <h3 class="text-2xl font-bold mb-4 group-hover:text-yellow-400 transition duration-300">Solar
                        Valley Enterprises</h3>
                    <p class="text-gray-300 text-sm leading-relaxed">
                        Powering a brighter tomorrow with sustainable and cutting-edge solar solutions. Join us in
                        creating a greener future.
                    </p>
                </div>

                <!-- Contact Section -->
                <div class="group">
                    <h3 class="text-2xl font-bold mb-4 group-hover:text-yellow-400 transition duration-300">Contact</h3>
                    <ul class="text-gray-300 text-sm space-y-2">
                        <li class="flex items-center">
                            <i class="bi bi-envelope-fill text-yellow-400 mr-2"></i>
                            <a href="mailto:info@solarvalley.co.in" class="hover:text-yellow-400 transition">info@solarvalley.co.in</a>
                        </li>
                        <li class="flex items-center">
                            <i class="bi bi-telephone-fill text-yellow-400 mr-2"></i>
                            <a href="tel:+919111831966" class="hover:text-yellow-400 transition">+91-9111831966</a>
                        </li>
                        <li class="flex items-center">
                            <i class="bi bi-geo-alt-fill text-yellow-400 mr-2"></i>
                            <a href="https://www.google.com/maps/place/SOLAR+VALLEY+ENTERPRISES/@22.7959037,75.9175317,15z/data=!4m2!3m1!1s0x0:0x645a7a4f71c7ee4a?sa=X&ved=1t:2428&ictx=111&cshid=1733656743254160"
                               class="hover:text-yellow-400 transition">UGF 08, Galleria, Ansal Town, Talawali Chanda,
                                Indore, Madhya Pradesh, pin:453771</a>
                        </li>
                    </ul>
                </div>

                <!-- Follow Us Section -->
                <div class="group">
                    <h3 class="text-2xl font-bold mb-4 group-hover:text-yellow-400 transition duration-300">Follow
                        Us</h3>
                    <p class="text-gray-300 text-sm mb-4">
                        Stay connected for the latest updates and offers:
                    </p>
                    <div class="flex gap-4">
                        <a href="#"
                           class="text-gray-300 hover:text-yellow-400 transition text-2xl transform hover:scale-125">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#"
                           class="text-gray-300 hover:text-yellow-400 transition text-2xl transform hover:scale-125">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#"
                           class="text-gray-300 hover:text-yellow-400 transition text-2xl transform hover:scale-125">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="#"
                           class="text-gray-300 hover:text-yellow-400 transition text-2xl transform hover:scale-125">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="bottom-0 left-0 w-full bg-gray-800 text-white py-2 shadow-lg z-50">
        <div class="container mx-auto text-center">
            <p class="text-gray-300 text-sm font-medium">
                &copy; 2023 Solar Valley Enterprises. All rights reserved.
            </p>
        </div>
    </div>
</div>

<script>
    const header = document.getElementById('mainHeader');
const heroSection = document.querySelector('section');
const sidebarButton = document.getElementById('openSidebar');

window.addEventListener('scroll', () => {
    const heroHeight = heroSection.offsetHeight;
    if (window.scrollY > heroHeight) {
        header.classList.add('bg-white/70', 'backdrop-blur-md');
        sidebarButton.classList.remove('text-white');
        sidebarButton.classList.add('text-black');
    } else {
        header.classList.remove('bg-white/70', 'backdrop-blur-md');
        sidebarButton.classList.remove('text-black');
        sidebarButton.classList.add('text-white');
    }
});



    // Sidebar Toggle
    const sidebar = document.querySelector('.sidebar');
    const openButton = document.getElementById('openSidebar');
    const closeButton = document.getElementById('closeSidebar');

    openButton.addEventListener('click', () => {
        sidebar.classList.add('active');
    });

    closeButton.addEventListener('click', () => {
        sidebar.classList.remove('active');
    });

    // Close sidebar when clicking a link
    const sidebarLinks = document.querySelectorAll('.sidebar a');
    sidebarLinks.forEach(link => {
        link.addEventListener('click', () => {
            sidebar.classList.remove('active');
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
    var successMessage = document.getElementById('successMessage');
    var errorMessage = document.getElementById('errorMessage');

    function hideMessage(element) {
        if (element) {
            setTimeout(function () {
                element.classList.add('hidden');  // Use Tailwind CSS hidden class to hide the message
            }, 5000);
        }
    }

    if (successMessage) {
        hideMessage(successMessage);
    }
    if (errorMessage) {
        hideMessage(errorMessage);
    }
});

//service cards
    function handleMouseOver(card) {
    const description = card.querySelector(".description");
    description.style.transform = "translateY(0)";
  }

  function handleMouseOut(card) {
    const description = card.querySelector(".description");
    description.style.transform = "translateY(100%)";
  }

  function toggleSlider(card) {
    // Check if the card already has the 'active' class
    const isActive = card.classList.contains("active");

    // Remove 'active' class from all cards
    document.querySelectorAll(".card").forEach((c) => c.classList.remove("active"));

    // If the card wasn't active, add the 'active' class to it
    if (!isActive) {
      card.classList.add("active");
    }
  }

<!--    About us-->
    let currentImageIndex = 0;
  const images = document.querySelectorAll(".carousel-images img");

  function showImage(index) {
    images.forEach((img, i) => {
      img.classList.toggle("hidden", i !== index);
    });
  }

  function nextImage() {
    currentImageIndex = (currentImageIndex + 1) % images.length;
    showImage(currentImageIndex);
  }

  function prevImage() {
    currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
    showImage(currentImageIndex);
  }

  // Automatically change image every 10 seconds
  setInterval(nextImage, 10000);

  // Show the first image initially
  showImage(currentImageIndex);

    //contact
     // FAQ Toggle
    const faqToggles = document.querySelectorAll('.faq-toggle');
    faqToggles.forEach(toggle => {
        toggle.addEventListener('click', () => {
            const content = toggle.nextElementSibling;
            const icon = toggle.querySelector('i');
            content.classList.toggle('hidden');
            icon.classList.toggle('bi-plus');
            icon.classList.toggle('bi-dash');
        });
    });

<!--    Feedback card dots indications-->
    const scrollContainer = document.querySelector('.scroll-container');
    const dots = document.querySelectorAll('.dot');
    const scrollItems = document.querySelectorAll('.scroll-item');

    const updateDots = () => {
        const scrollLeft = scrollContainer.scrollLeft;
        const containerWidth = scrollContainer.offsetWidth;

        // Calculate active index based on the scroll position
        const activeIndex = Math.round(scrollLeft / containerWidth);

        dots.forEach((dot, index) => {
            dot.classList.toggle('active', index === activeIndex);
        });
    };

    // Add scroll event listener
    scrollContainer.addEventListener('scroll', updateDots);

    // Allow dots to be clickable to navigate to specific cards
    dots.forEach((dot, index) => {
        dot.addEventListener('click', () => {
            const itemWidth = scrollItems[0].offsetWidth + 32; // Adjust for item width and gap
            scrollContainer.scrollTo({
                left: index * itemWidth,
                behavior: 'smooth',
            });
        });
    });

    // Initial call to set the active dot
    updateDots();

</script>
</body>
</html>
